h1 {
    color: #111827;
    margin: 20px;
    padding: 48px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.15);


    text-align: center;      /* centra el texto */
    margin-top: 40px;

    font-size: 2.5rem;       /* tamaño normal en computador */
    font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;       /* más pequeño en celular */
  }
}